@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Magiska Galleriet</h1>
    <p>"Allt lyx en trollkarl kan tyckas behöva!"</p>
</div>
